.navbar {
    display: flex;
    padding: 0;
    background-color: #ffffff

 }
 
 .navbar-child {
    flex-basis: 49%;
     margin: 0 ;
     padding: .5rem 1rem;

 }

 .nav {
     justify-content: flex-end;
 }



.nav-item{
    margin-right: 5px;
    align-items: center;
}


.container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
    border-radius: 2rem;

}