.navbar {
    display: flex;
    padding: 0;
    background-color: #ffffff

 }
 
 .navbar-child {
    flex-basis: 49%;
     margin: 0 ;
     padding: .5rem 1rem;

 }

 .nav {
     justify-content: flex-end;
 }



.nav-item{
    margin-right: 5px;
    align-items: center;
}

